@import "tailwindcss";

@layer components {
  .input {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2.5 text-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none;
  }
}
